### Import Libraries:

In [106]:
import pandas as pd 
#pandas as alias of pd
import numpy as np
#numpy as alias of np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report
import warnings 
warnings.filterwarnings('ignore')

### Load the Data:

In [107]:
df = pd.read_csv('tested.csv')

###  Explore and preprocess data :

In [108]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

### The null value exists or not:

In [109]:
df.isnull()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
413,False,False,False,False,False,True,False,False,False,False,True,False
414,False,False,False,False,False,False,False,False,False,False,False,False
415,False,False,False,False,False,False,False,False,False,False,True,False
416,False,False,False,False,False,True,False,False,False,False,True,False
417,False,False,False,False,False,True,False,False,False,False,True,False

###  All info:

In [110]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

### How many null Value in cabin Column:

In [111]:
df['Cabin'].isnull().sum()

327

###  Drop The Cabin Column:
=> Becouse there are so many null value are exits

In [112]:
df.drop(['Cabin'], axis = 1, inplace = True)
df.drop(['Name', 'Ticket'], axis=1, inplace=True) # => Drop the name and ticket column because the datatypes is object

In [113]:
df.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0          892         0       3    male  34.5      0      0   7.8292        Q
1          893         1       3  female  47.0      1      0   7.0000        S
2          894         0       2    male  62.0      0      0   9.6875        Q
3          895         0       3    male  27.0      0      0   8.6625        S
4          896         1       3  female  22.0      1      1  12.2875        S

###  Fill missing Value:

In [114]:
df.fillna(df.mean(),inplace = True)

In [115]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64

###  Label Encoder:

In [116]:
le = LabelEncoder()
df['Sex'] = le.fit_transform(df['Sex'])
df['Embarked'] = le.fit_transform(df['Embarked'])

In [117]:
df.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0          892         0       3    1  34.5      0      0   7.8292         1
1          893         1       3    0  47.0      1      0   7.0000         2
2          894         0       2    1  62.0      0      0   9.6875         1
3          895         0       3    1  27.0      0      0   8.6625         2
4          896         1       3    0  22.0      1      1  12.2875         2

### Features Selection:

In [118]:
features = ['Pclass','Sex','Age', 'SibSp', 'Parch', 'Fare', 'Embarked']
X = df[features]
y = df['Survived']


### Split the Data:

In [119]:
X_train, X_test, y_train, y_test = train_test_split(X ,y, test_size = 0.2, random_state = 42)

### Build and train the model

In [120]:
model = RandomForestClassifier(n_estimators = 100 , random_state = 42)
model.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

### Predictions :

In [121]:
predictions = model.predict(X_test)

### For example:

In [122]:
print("Predictions:", predictions[:10])
print("Actual Outcomes:", y_test[:10].values)

Predictions: [0 1 0 0 1 0 1 0 1 0]
Actual Outcomes: [0 1 0 0 1 0 1 0 1 0]

### Evaluate the model:

In [123]:
print('Accuracy :' ,accuracy_score(y_test, predictions))
print('Classification Report:\n',classification_report(y_test, predictions))

Accuracy : 1.0
Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00        50
           1       1.00      1.00      1.00        34

    accuracy                           1.00        84
   macro avg       1.00      1.00      1.00        84
weighted avg       1.00      1.00      1.00        84